.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/andrey-trusov-15106.jpg);
  background-size: cover;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;  
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10%;
  margin-top: 3%;
}

.logo {
  height: 150px;
  margin-right: 10%;
  margin-top: .5%;
  position: absolute;
  right: 0;
  top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #5E42DB;
    padding: 0 20px;
  }

  li:last-child {
    border-right: none;
  }
   
  li a {
    text-decoration: none;
    color: black;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: white;
  }

.map {
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.foruminputs {
  text-align: center;
}

.message {
  width: 500px;
  height: 40px;
}

.name {
  height: 40px;
}

.text {
  font-size: 24px;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
}

.author {
  font-size: 24px;
  font-weight: normal;
  border: 1px solid;
}