<form name="form">
        <img style="width: 300px;" ngf-thumbnail="image">
        <button class="upload" name="image" ngf-select ng-model="image">Upload image</button>
        <button class="submit" ng-click="submit(image); reload()">Submit</button>
        <!-- <button class="reload" ng-click="reload()">Reload</button> -->
</form>
<br>
<br>
<br>
<div ng-repeat="info in data"></div>
<div class="outer">
        <!-- <div ng-repeat="image in images"> -->
        <!-- <div ng-style="{'background-image': 'url(' + image.image_url + ')'}"></div> -->
        <img class="imageupload" ng-repeat="image in images" ng-src="{{ image.image_url }}" alt="nah">
        <!-- </div> -->
</div>