.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/manu-schwendener-39728.jpg);
  background-size: cover no-repeat;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;  
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10%;
  margin-top: 3%;
}

.logo {
  height: 150px;
  margin-right: 10%;
  margin-top: .5%;
  position: absolute;
  right: 0;
  top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #5E42DB;
    padding: 0 20px;
  }

  li:last-child {
    border-right: none;
  }
   
  li a {
    text-decoration: none;
    color: black;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: white;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.fish {
  position: relative;
  width: 1px;
  left: 0;
  animation: fish 5s infinite;
}

.icon {
  transform: scaleX(-1);
}

@keyframes fish {
  49% {
      left: calc(100% - 1em);
      transform: scaleX(1);        
  }
  50% {
      transform: scaleX(-1);
  }
  100% {
      transform: scaleX(-1);
  }
}

.map {
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

/* .foruminputs {
  text-align: center;
}

.message {
  width: 500px;
  height: 40px;
}

.name {
  height: 40px;
}

.text {
  color: black;
  font-size: 24px;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
}

.author {
  color: black;
  font-size: 24px;
  font-weight: normal;
} */

.upload {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.upload:hover {
  background-color: white;
  color: black;
}

.submit {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit:hover {
  background-color: white;
  color: black;
}

.outer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.imageupload {
  padding: 5%;
  max-width: 302px;
  max-height: 302px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 32%;
  height: 32%;
}
