<!DOCTYPE html>
<html ng-app="app">
        <body ng-controller="forumCtrl">
                <input type="text" placeholder="Drop a line!" ng-model="newPost">
                <input type="text" placeholder="Poster Name" ng-model="newPostAuthor">
                <button ng-click="addPost()">Add Post</button>
                <div>
                    Filter: <input type="text" ng-model="filterText">
                </div>
                <hr>
           <p ng-repeat="post in posts | filter: filterText">
           <span class="text">
              " {{ post.text }} "
           </span>
           <span class="author">
                {{ post.author }}
            </span>
           <button ng-click = "deleteMe(post.text)">X</button>
           </p>
        </body>
</html>

