<!DOCTYPE html>
<html ng-app="app">

<body ng-controller="forumCtrl">
	
	<section class="border">
		<form class="form-inline">
			<div class="filterConsole form-group">
				<input class="form-control" placeholder="Filter by Post" ng-model="postFilter.text">
	        	<input class="form-control" placeholder="Filter by User" ng-model="postFilter.author">

			</div>

			<div class="postContainer">
				<input class="newText" ng-model="newPost.text" placeholder="Drop a Line!"/>
				<input ng-model="newPost.author" placeholder="Username">
                <button ng-click="addPost()">Post</button>
			</div>
		</form>

		<div ng-repeat="post in posts | filter:postFilter track by $index" class="postContainer">
			<span class="postText">"{{post.text}}" </span>
			<span class="postAuthor">{{post.author}}</span>
            <button ng-click="removePost(post.text)">X</button>
		</div>
	</section>	
</body>
</html>

